{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
    <center><h2>Register</h2></center>
    {% if form.errors %}
        <p class="alert alert-danger col-md-6 offset-md-3">Your username and password didn't match. Please try
            again.</p>
    {% endif %}
    <form method="post" action="">
        <div class="form-group row">
            <label for="{{ form.email.id_for_label }}"
                   class="col-sm-2 col-form-label">Email address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="{{ form.email.id_for_label }}"
                       placeholder="email@example.com" name="{{ form.email.name }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.password1.id_for_label }}"
                   class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="{{ form.password1.id_for_label }}"
                       placeholder="Password" name="password1">
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.password2.id_for_label }}"
                   class="col-sm-2 col-form-label">Password confirmation</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="{{ form.password2.id_for_label }}"
                       placeholder="Password again" name="password2">
            </div>
        </div>

        {% csrf_token %}
        <br>
        <div class="row">
            <div class="col-3 offset-1">
                <a id="button2" href="/" type="button">Back</a>
            </div>
            <div class="col-2 offset-2">
                <button id="button2" type="submit">Next</button>
            </div>
        </div>
    </form>
{% endblock %}
