{% extends "base.html" %}
{% block content %}
    <br>
    <h2>WHO DARES CARES (SCIO)</h2>
    <p style="color: lightblue;">Registered Charity Number SC047018</p>
    <br>
    <div style="text-align:justify;">
    <p>Who Dares Cares is a non profit charity that has been developed to support people from all walks of life with PTSD. The charity has been set up by two former Scottish soldiers, Calum MacLeod (KOSB) and Colin MacLachlan (22 SAS).</p>
    <p>You don't have to have served in the military to be struggling or experience a trauma, it can happen to anyone of us at anytime. The charity aims to support people through activity and buddy buddy support systems so that no one should ever feel alone. Our motto "Who Dares Cares" means this....we dare you to care, become active in our charity work,support our activities, take part and raise funds to help our future activities.</p>
    </div>
{% endblock %}