{% load static %}
<!DOCTYPE html>
<html
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Who Dares Cares{% endblock %}</title>
    {% block meta %}{% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body>
<div class="row" style="margin:0;">
    <header>
        <div class="col-12">
            <img src="{% static "logo_site.png" %}" class="img img-fluid">
        </div>
    </header>
    <div class="container col-12">
        {% block content %}{% endblock %}
    </div>
</div>
{% block footer %}
    <div class="icon-bar">
        <a href="/" class="nav-link"><i class="fa fa-home"></i></a>
        <a href="#" class="nav-link"><i class="fa fa-book"></i></a>
        <a href="#" class="nav-link"><i class="fa fa-globe"></i></a>
        <a href="/profile" class="nav-link"><i class="fa fa-user"></i></a>
    </div>
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "bootstrap.min.js" %}" type="text/javascript"></script>
</body>
</html>
