{% extends "base.html" %}
{% load static %}
{% block meta %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static "sheet1.css" %}">
    <style>
        body {
            margin: 0;
        }

        .icon-bar {
            width: 100%;
            background-color: #0C1315;
            position: fixed;
            bottom: 0;
        }

        .icon-bar a {
            float: left;
            width: 25%;
            text-align: center;
            padding: 12px 0;
            transition: all 0.3s ease;
            color: #C1D3D8;
            font-size: 20px;
            bottom: 0;
        }

        .icon-bar a:hover {
            background-color: #007a99 /*#000*/;
        }

        a:active {
            background-color: red;
        }

        .buttonprop {
            height: 70px;
            width: 100px;
            font-size: 46px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="icon-bar">
  <a href="file:///C:/Users/Gabriele/team-13/html/home.html"><i class="fa fa-home"></i></a>
  <a href="#"><i class="fa fa-book"></i></a>
  <a href="#"><i class="fa fa-globe"></i></a>
  <a href="#"><i class="material-icons">person</i></a>
</div>

<br>
<br>
<br>
<center><button class="buttonprop" id="button2" type="button"><b>CALL</b></button></center>
<br>
<center><button class="buttonprop" id="button2" type="button"><b>TEXT</b></button></center>
{% endblock %}