{% extends "base.html" %}
{% block content %}
    <br>
    <h2>Useful Links</h2>
    <br>
    Website:<a href="https://www.totalgiving.co.uk/charity/who-dares-cares-scio">www.totalgiving.co.uk/charity/who-dares-cares-scio</a>
    <br>
    Facebook: <a href="https://wwww.totalgiving.co.uk/charity/who-dares-cares-scio">www.facebook.com/pg/wdw22</a>
    <br>
    Twitter: <a href="https://twitter.com/who_dares_cares">@who_dares_cares</a>
    <br>
    Instagram: <a href="https://www.instagram.com/whodarescares/">@whodarescares</a>
    <br>
    PTSD: National Center for PTSD <a href="https://www.ptsd.va.gov/">https://www.ptsd.va.gov/</a>
    <br>
    Make The Connection <a href="https://maketheconnection.net/">https://maketheconnection.net/</a>
    <br>
    PTSD <a href="http://www.ptsdalliance.org/contact/">http://www.ptsdalliance.org/contact/</a>
    <br>
    PTSD Association of Canada <a href="http://www.ptsdassociation.com/">http://www.ptsdassociation.com/</a>
    <br>
    Post-traumatic stress disorder (PTSD)<a href="https://www.nhs.uk/conditions/post-traumatic-stress-disorder-ptsd/">https://www.nhs.uk/conditions/post-traumatic-stress-disorder-ptsd/</a>
    <br>
    PTSD at HelpGuide.org<a href="https://www.nhs.uk/conditions/post-traumatic-stress-disorder-ptsd/">https://www.helpguide.org/articles/ptsd-trauma/ptsd-symptoms-self-help-treatment.htm</a>
    <br>
    Post-traumatic stress disorder (PTSD)
    <a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/post-traumatic-stress-disorder-ptsd/self-care-for-ptsd/#.Wf7Vzmi0PIU
">https://www.mind.org.uk/information-support/types-of-mental-health-problems/post-traumatic-stress-disorder-ptsd/self-care-for-ptsd/#.Wf7Vzmi0PIU</a>
    <br>
    Post-traumatic Stress Moodhuice Self-help Guide
    <a href="http://www.moodjuice.scot.nhs.uk/posttrauma.asp">http://www.moodjuice.scot.nhs.uk/posttrauma.asp</a>
    <br>
{% endblock %}