{% extends "base.html" %}
{% block content %}
    <br>
    <h2>Useful Links</h2>
    <br>
    Website: <a href="https://www.totalgiving.co.uk/charity/who-dares-cares-scio">www.totalgiving.co.uk/charity/who-dares-cares-scio</a>
    <br>
    Facebook: <a href="https://wwww.totalgiving.co.uk/charity/who-dares-cares-scio">www.facebook.com/pg/wdw22</a>
    <br>
    Twitter: <a href="https://twitter.com/who_dares_cares">@who_dares_cares</a>
    <br>
    Instagram: <a href="https://www.instagram.com/whodarescares/">@whodarescares</a>
{% endblock %}