{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row" style="margin-left: 20px;">
        {% if p_user %}
            <p>{{ p_user }} needs help!</p>
            <p>{{ background }} background</p>
            {% if p_user.previous_issues %}
                <p>Has known mental health issues</p>
            {% else %}
                <p>No known mental health issues</p>
            {% endif %}
        {% else %}
            <p>Nobody requires assistance at this time.</p>
        {% endif %}
    </div>

{% endblock %}